/*
#948D9B grijs
#B279A7 donkerpaars
#D387AB lichtpaars
*/



* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    margin-left: 10vw;
    background-color: #948D9B;
    font-family: 'Boogaloo', sans-serif;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 10vw;
    background-color: #B279A7;
    padding: 3vh;
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    border-right: black solid 2px;
}

nav a {
    text-decoration: none;
    color: black;
    background-color: #D387AB;
    padding: 6vh 3vh;
    border-radius: 10px;
    text-align: center;
    border: black solid 2px;
    font-size: 1.2rem;
}

h1 {
    background-color: #D387AB;
    margin: 0%;
    padding: 2vh 4vh;
    text-align: center;
    border-bottom: black solid 2px;
    font-size: 5rem;
    font-family: 'Agbalumo', sans-serif;
}

h2 {
    margin-top: 15vh;
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}

.vinyl {
    width: 50vw;
    margin: 5vw;
    margin-right: 0;
}

.row {
    display: flex;
}

.curveText p {
    margin: 0;
}

.curveText p:nth-child(2) {
    margin-left: 15px;
}

.curveText p:nth-child(3) {
    margin-left: 27px;
}

.curveText p:nth-child(4) {
    margin-left: 36px;
}

.curveText p:nth-child(5) {
    margin-left: 42px;
}

.curveText p:nth-child(6) {
    margin-left: 45px;
}

.curveText p:nth-child(7) {
    margin-left: 45px;
}

.curveText p:nth-child(8) {
    margin-left: 43px;
}

.curveText p:nth-child(9) {
    margin-left: 41px;
}